ul {
  padding-bottom: 20px;
}
.text {
  margin-top: 20px;
  width: 88px;
}
li a {
  display: block;
  width: 88px;
  color: black;
  font-size: 16px;
}
.text:active {
  border-right: 1px solid #ab2b2b;
}