* {
  margin: 0;
  padding: 0;
}
html body {
  width: 100%;
  max-height: 9999px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.home {
  max-height: 9999px;
  position: absolute;
  top: 80px;
  width: 100%;
}
.message {
  width: 100%;
  height: 30px;
}
img{ 
  max-width: 100%;
  max-height: 100%;
}
.menu-1 {
  width: 100%;
  height: 212px;
  border: 1px solid #fbfbfb;
}
.menu-1 ul {
  width: 100%;
  list-style: none;
}
.menu-1 li{
  float: left;
  width: 20%;
  margin: 5px 0;
} 
.menu-1 img {
  width: 100%;
  box-sizing: border-box;
  padding: 3px 8px;
}
.menu-1 a {
  color: black;
  width: 20%;
  padding-left: 13px;
  font-size: 12px;
  text-align: center;
}
.new {
  width: 100%;
  height: 279px;
  border-top: 10px solid #ededed;
}
.new .new-text {
  height: 45px;
  line-height: 45px;
  margin-bottom: 0;
  text-align: center;
}
.content {
  padding: 0 15px 17px 15px ;
}
.left {
  width: 171px;
  height: 217px;
  display: block;
  float: left;
  background-color: #f9e8ce;
}
.left .name {
  height: 11%;
  width: 100%;
  margin: 8px 0 0 28px;
  font-size: 16px;
  color: #000;
}
.left .imgURL {
  height: 89%;
  width: 100%;
}
.left .imgURL img{
  width: 100%;
  height: 100%;
  padding: 24px 16px;
}
.right {
  float: right;
  width: 171px;
  height: 217px;
}
.right1 {
  width: 100%;
  height: 49%;
  background-color: #f9e8ce;
  margin-bottom: 5px;
}
.right1-text  {
  height: 50px;
  padding: 4px 16px;
}
.right1-text .right1-text1 {
  margin-bottom: 0;
  font-size: 16px;
}
.right1-text .right1-text2 {
  font-size: 12px;
}
.right1-img {
  height: 100%; 
  width: 100%;
}
.right1-img img {
  width: 65%;
  height: 100%;
  position: relative;
  top: -45px;
  right: -65px;
}
.right2 {
  width: 100%;
  height: 49%;
  background-color: #f9e8ce;
}
.right2-text  {
  height: 50px;
  padding: 4px 16px;
}
.right2-text .right2-text1 {
  margin-bottom: 0;
  font-size: 16px;
}
.right2-text .right2-text2 {
  font-size: 12px;
}
.right2-img {
  height: 100%; 
  width: 100%;
}
.right2-img img {
  width: 65%;
  height: 100%;
  position: relative;
  top: -45px;
  right: -65px;
}
.out {
  width: 100%;
  border-top: 10px solid #ededed;
}
.out-title {
  height: 45px;
  line-height: 45px;
  margin-bottom: 0;
  text-align: center;
}
.out-left {
  float: left;
  margin-left: 15px;
  color: #000;
  font-size: 14px;
}
.out-right {
  float: right;
  margin-right: 35px;
  color: #000;
}
.out-title .icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  position: relative;
  background-image: url(../../../imges/more.png);
  background-size: cover;
  left: 150px;
  top: 2px;
}
.out-list {
  margin: 0 9px;
}
.out-list1 {
  display: inline-block;
  width: 172px;
  height: 130px;
  margin: 3px 3px;
}
.out-list .list1 {
  background-image: url(http://yanxuan.nosdn.127.net/74e2ea8f81004d0a60f90fc8e4649058.png?imageView&thumbnail=343y260&enlarge=1);
  background-size: 101% 100%;
}
.out-list .list2 {
  background-image: url(http://yanxuan.nosdn.127.net/c097be14110f769d58245cdad73e15c3.png?imageView&thumbnail=343y260&enlarge=1);
  background-size: 101% 100%;
}
.out-list .list3 {
  background-image: url(http://yanxuan.nosdn.127.net/66a23d776f41cba70d00803a5231124b.png?imageView&amp;thumbnail=343y260&amp;enlarge=1);
  background-size: 101% 100%;
}
.out-list .list4 {
  background-image: url(http://yanxuan.nosdn.127.net/3bf5a8a2f6eef284ecb40806ae9ce043.png?imageView&amp;thumbnail=343y260&amp;enlarge=1);
  background-size: 101% 100%;
}
.out-list .text {
  width: 100%;
  margin: 5px auto;
  font-size: 12px;
  color: #a1a1a1;
}
.out-list .text1 {
  display: block;
  margin: 0 auto;
  font-size: 14px;
  color: #000;
}
.hot {
  border-top: 10px solid #ededed;
  width: 100%;
}